<%- include('header') %>
<div class="box-container">
    <div class="result-box">
        <div class="item">
            <div class="item-box criteria">Loading Type :</div>
            <div class="item-box value"><%= typeL %></div>
        </div>
        <div class="item">
            <div class="item-box criteria">Loading Intensity :</div>
            <div class="item-box value"><%= loadI %></div>
        </div>
        <div class="item">
            <div class="item-box criteria">Stress    :</div>
            <div class="item-box value"><%= stress %> N/m<sup>2</sup></div>
        </div>
    </div>
</div>
<%- include('footer')%>